[submodule "tinycbor"]
	path = tinycbor
	url = https://github.com/intel/tinycbor
[submodule "python-fido2"]
	path = python-fido2
	url = https://github.com/solokeys/python-fido2
[submodule "crypto/micro-ecc"]
	path = crypto/micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
[submodule "crypto/tiny-AES-c"]
	path = crypto/tiny-AES-c
    url = https://github.com/kokke/tiny-AES-c
[submodule "targets/stm32l442/dfuse-tool"]
	path = targets/stm32l442/dfuse-tool
    url = https://github.com/solokeys/dfuse-tool
