[submodule "tinycbor"]
	path = tinycbor
	url = https://github.com/intel/tinycbor
[submodule "crypto/micro-ecc"]
	path = crypto/micro-ecc
	url = https://github.com/kmackay/micro-ecc.git
[submodule "crypto/tiny-AES-c"]
	path = crypto/tiny-AES-c
    url = https://github.com/kokke/tiny-AES-c
[submodule "targets/stm32l442/dfuse-tool"]
	path = targets/stm32l442/dfuse-tool
    url = https://github.com/solokeys/dfuse-tool
[submodule "crypto/cifra"]
	path = crypto/cifra
	url = https://github.com/solokeys/cifra.git
[submodule "crypto/salty"]
	path = crypto/salty
	url = https://github.com/ycrypto/salty.git
